<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.EvChargingFinal"
        tools:targetApi="31">
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".BookSlot"
            android:exported="true">



        </activity>
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".savingEnvironment"
            android:exported="true"></activity>
        <activity
            android:name=".ALLEVList"
            android:exported="true"></activity>
        <activity
            android:name=".StationInfo"
            android:exported="true" />
        <activity
            android:name=".getcurrentLocation"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>

        <activity
            android:name=".rating.GiveRatingActivity"
            android:exported="false" />

        <activity
            android:name=".envo_impact.EnviromentalImpactActivity"
            android:exported="false" />

        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/apikey" />
    </application>

</manifest>